.splashBox {
  border: 2px solid red;
  background-color: white;
}

.famousBox {
  position: absolute;
  top: 0px;
  left: 0px;
  /*margin: 10%;*/
  border: 2px solid red;
}

.splashBox {
  border: 2px solid red;
  background-color: white;
}

.scrollPanel {
  -webkit-overflow-scrolling: 'touch'
}
